.wrapper {
  min-width: 250px;
  max-width: 280px;
  min-height: 470px;
  border-radius: 15px;
  padding: 5px;

  &:hover {
    animation: pulse 2s ;
  }

  img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
    border-radius: 15px;
    background-color: gray;
  }

  .title {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .price-label {
    font-weight: 300;
    font-size: 1rem;
  }

  .price {
    font-weight: 500;
    font-size: 1rem;
  }
}

@keyframes pulse {
  0%, 100% {transform: scale(1);}
  50% {transform: scale(1.08);}
}